/* -- Reset -- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 } 


/* -- Carte -- */
#map {
    height: 100vh;
    position: relative;
    width: 100%;
}


/* -- Formulaire -- */
.form-panel {
    background-color: #c4bcb8;
    border: 1px solid white;
    border-radius: 10px;
    height: 870px;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px; 
    z-index: 1;
}

#form-evento {
    margin: 10px 20px;
}

h4,
h3 {
    text-align: center;
}

h3 {
    margin-top: 25px;
}

input {
  height: 30px;
  margin: 10px;
  width: 280px;
}

label {
  margin: 20px 10px;
}

fieldset {
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 0px 30px #ababab
}

textarea {
  margin-bottom: 8px;
  margin-left: 13px;
  margin-top: 10px;
}

#evento-start,
#evento-end {
  padding-left: 5px;
}

.submit-btn {
  cursor: pointer;
  height: 30px;
  width: 324px;
  margin-left: 20px;
  margin-top: 5px;
  box-shadow: 0px 0px 30px #919191
}


/* -- Popups -- */
  .mapboxgl-popup {
    max-width: 400px;
    font-family: Arial, sans-serif;
  }
  
  .mapboxgl-popup-content {
    padding: 20px;
  }
  
  .mapboxgl-popup h4 {
    margin: 0 0 5px;
  }
  
  .mapboxgl-popup p {
    margin: 0 0 10px;
  }
  

  /* Bouton de mise à jour */
  #update-button {
    background-image: linear-gradient(to bottom right, rgba(119, 119, 119, 0.3), #fffdfd);
    box-shadow: 1px 1px 1px #fcfcfc,
              inset 2px 3px 5px rgba(0,0,0,0.5),
              inset -2px -3px 5px rgba(255,255,255,0.5);
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    left: 10px;
    position: absolute;
    top: 115px;
    width: 100px;
    z-index: 2;
  }